.form {
    margin: 0 auto;
    max-width: 500px;
    padding: 20px;
    border: solid 1px lightgrey;
    box-shadow: 0 5px 5px lightgrey;
    border-radius: 8px;
}

.form input {
    margin: 10px 0;
}