.App {
  text-align: center;
  font-size: calc(10px + 2vmin);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}


.Home {
  text-align: center;
  font-size: calc(10px + 2vmin);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  color: rgba(143, 155, 210, 0.79);
}

.HomeBackground {
  background-image: url("views/background.jpg");
  flex: auto;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

input {
  height: 40px;
  width: 50%;
  border: none;
  border-bottom: 2px #787a80 solid;
  background: none;
  font-size: 1.5rem;
  color: #6f88d5;
}

.link {
  color: #8b9f97;
}

input:focus {
  outline: none;
}

button {
  width: 25%;
  height: 45px;
  border: none;
  margin-left: 10px;
  font-size: 25px;
  background: #101113;
  border-radius: 10px;
  color: #6f88d5;
  cursor: pointer;
}

button:focus {
  outline: white;
}

ul {
  list-style: inside;
  text-align: left;
  padding: 15px;
  background: #171a1f;
  border-radius: 15px;
  color: #6f88d5;
}

li {
  padding: 15px;
  font-size: 1.5rem;
  margin-bottom: 15px;
  background: #282c34;
  border-radius: 5px;
  overflow-wrap: break-word;
  cursor: pointer;
}

.NotFoundBackground{
  background-image: url("views/dc.png");
  flex: auto;
  height: 100vh;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

@media only screen and (min-width: 300px) {
  .App {
    width: 80%;
  }

  input {
    width: 100%
  }

  button {
    width: 100%;
    margin-top: 15px;
    margin-left: 0;
  }
}

@media only screen and (min-width: 640px) {
  .App {
    width: 60%;
  }

  input {
    width: 50%;
  }

  button {
    width: 30%;
    margin-left: 10px;
    margin-top: 0;
  }
}