.cartscreen {
    display: flex;
    max-width: 1300px;
    margin: 2rem auto;
}

.cartscreen h2 {
    margin-bottom: 1rem;
}
.proceedButton{
    background-color:lightyellow;
    color: lightyellow;

}

.cartscreen_left{
    flex: 0.7;
    margin-right: 1rem;
    background-color: transparent;
    padding: 1rem;
}
.move_right{
    margin-left: 15rem;
}
.cartscreen_right{
    flex: 0.3;
    background: rgba(217,217,245,1);
    box-shadow: 0 1px 4px rgba(0,0,0,0.4);
    height: fit-content;
    border-radius: 25px;
}

.cartscreen_right div {
    border-bottom: 1px solid rgba(0,0,0,0.2);
    padding: 2rem;
}

.cartscreen_right div:last-child {
    border: none;
}

.cartscreen_info p {
    padding: 8px;
    font-weight: bold;
}
.cartscreen_discount{
    background-color: lightyellow;


}

.cartscreen_right div button {
    padding: 10px 17px;
    width: 100%;
    background: #171717;
    color: #f4f4f4;
    font-weight: bold;
    border: 1px solid #171717;
    cursor: pointer;
}

.cartscreen_right div button:hover {
    opacity: 0.9;
}

@media (max-width: 1320px) {
    .cartscreen {
        max-width: 800px;
        flex-direction: column;
    }

    .cartscreen_left {
        margin: 0;
    }
    .cartscreen_right {
        margin: 1rem;
    }
}
