.Page {
    text-align: center;
    font-size: calc(10px + 2vmin);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    color: rgba(16, 53, 224, 0.79);
}

.link {
    color: #8b9f97;
}

button {
    width: 25%;
    height: 45px;
    border: none;
    margin-left: 10px;
    font-size: 25px;
    background: #101113;
    border-radius: 10px;
    color: #6f88d5;
    cursor: pointer;
}

button:focus {
    outline: white;
}

ul {
    list-style: inherit;
    text-align: center;
    padding: 15px;
    background: #171a1f;
    border-radius: 15px;
    color: #6f88d5;
}

li {
    padding: 15px;
    font-size: 1.5rem;
    margin-bottom: 15px;
    background: #282c34;
    border-radius: 5px;
    overflow-wrap: break-word;
    cursor: pointer;
    text-align: center;
}

.FitBackground {
    background-image: url("../assets/fitness.png");
    flex: auto;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}

.NutBackground {
    background-image: url("../assets/fitness.png");
    flex: auto;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}

.WellBackground {
    background-image: url("../assets/fitness.png");
    flex: auto;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}
.TrackBackgrounds{
    background-color: red;
    flex: auto;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}
.itemLeftColumn{
    width: 65%;
    position: relative;
}
.itemRightColumn{
    width: 35%;
    margin-top: 60px;
}
.product-description{
    border-bottom: 1px solid #E1E8EE;
    margin-bottom: 20px;
}
.product-description span{
    font-size: 12px;
    color: red;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
}

@media only screen and (min-width: 300px) {
    .Todo {
        width: 80%;
    }

    input {
        width: 100%
    }

    button {
        width: 100%;
        margin-top: 15px;
        margin-left: 0;
    }
}

@media only screen and (min-width: 640px) {
    .Todo {
        width: 60%;
    }

    input {
        width: 50%;
    }

    button {
        width: 30%;
        margin-left: 10px;
        margin-top: 0;
    }
}