.Todo {
  text-align: center;
  font-size: calc(10px + 2vmin);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.Home {
  text-align: center;
  font-size: calc(25px + 2vmin);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  color: black;
}

.Page {
  text-align: center;
  font-size: calc(10px + 2vmin);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  color: rgba(143, 155, 210, 0.79);
}
.PageHeading{
  text-align: center;
  font-size: calc(10px + 2vmin);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  color: rgba(143, 155, 210, 0.79);
}

input {
  height: 40px;
  width: 50%;
  border: none;
  border-bottom: 2px rgba(0, 0, 0, 0.63) solid;
  background: none;
  font-size: 1.5rem;
  color: black;
}

.link {
  color: #8b9f97;
}

input:focus {
  outline: none;
}

button {
  width: 25%;
  height: 65px;
  border: none;
  margin-left: 10px;
  font-size: 25px;
  background: beige;
  border-radius: 10px;
  color: #6f88d5;
  cursor: pointer;
}

button:focus {
  outline: white;
  
 
}

ul {
  list-style: none;
  display: inline;
  text-align: center;
  
  
}

li {

  list-style: none;
  
  
}

.RepeatingBackground{
  background-image: url("../assets/repeating.jpg");
  flex: auto;

  background-repeat: repeat;
  background-position: revert;
  overflow: hidden;
}

.HomeBackground {
  background-image: linear-gradient(to bottom right, #6f88d5, #282c34);
  flex: auto;
  height: 100vh;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.FitBackground {
  background-image: linear-gradient(#66d37e, #083836);
  background-attachment: fixed;
  min-height: 100vh;
  flex: auto;
  background-size: cover;
  background-repeat: repeat;
  overflow: hidden;
}

.TestBackground {
  background-image: url("../assets/bg.jpg");
  background-attachment: fixed;
  min-height: 90vh;
  background-size: cover;
  overflow: hidden;
  
}
.TrackListing{
  margin: auto;
  background-color: #94D3BD;
  
}
@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&family=Poppins&display=swap');
.MainHeading{
  text-align: center;
  font-size: 100px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  color: rgba(255, 255, 255, 0.79);
  font-family: 'Poppins', sans-serif;
  position: absolute;
width: 1440px;
height: 353px;
left: 50px;
top: 410px;
font-weight: 600;
}
.SubMainHeading{
  text-align: center;
  position: absolute;
  font-size: 50px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  color: rgba(255, 255, 255, 0.79);
  font-family: 'Poppins', sans-serif;
  width: 1440px;
height: 353px;
left: 50px;
top: 410px;

  

height: 353px;
top: 610px;
}
.TracksHeading{
  text-align: center;
  position: static;
font-family: 'Poppins';
font-weight: 700;
font-size: 80px;
top: 1080px;
color: rgba(253, 247, 247, 0.92);

}
.SubTracksHeading{
  text-align: center;
  position: static;
font-family: 'Poppins';
font-weight: 500;
font-size: 50px;
top: 1150px;
color: rgba(253, 247, 247, 0.92);
}

.TrackDescriptions{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  color: white;
  position:fixed;
}
.TrackImage{
  padding: 90px;
}
.TrackName{
  font-family: 'Poppins';
  font-weight: 500;
font-size: 50px;
  text-align: center;
  word-spacing: 450px;
  position: static;
}

.AboutUs{
  background-color: #6CAF98;
  ;
}
.AboutDescription{
  align-items: center;
  text-align: center;
  position: static;
font-family: 'Poppins';
font-weight: 500;
font-size: 30px;
color: rgba(253, 247, 247, 0.92);
margin-left: 200px;
margin-right: 200px;
}


h1 {
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.63);
  font-family: 'Poppins', sans-serif;

}

.TodoBackground {
  background-image: linear-gradient( #6f88d5, #282c34);
  flex: auto;

  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
}


@media only screen and (min-width: 300px) {
  .Todo {
    width: 80%;
  }

  input {
    width: 100%
  }

  button {
    width: 100%;
    margin-top: 15px;
    margin-left: 0;
  }
}

@media only screen and (min-width: 640px) {
  .Todo {
    width: 60%;
  }

  input {
    width: 50%;
  }

  button {
    width: 30%;
    margin-left: 10px;
    margin-top: 20px;
  }
}