.navbar a {
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    padding: 8px;
}

.navbar button {
    background: #f4f4f4;
    border: none;
}
.color-nav{
    background-color: #6CAF98;
}